@import '../../../assets/variables.scss';

.range {
    @include centered-container;
    font-size: $middle-font;
    flex-direction: column;
    p {
        margin-top: 0;
        margin-bottom: $middle-space;
    }
}

.inputs {
    display: flex;
}

.input {
    label {
        margin: 0 $middle-space;
    }
    select {
        margin-right: $middle-space;
    }
}

.caption {
    @include caption;
}