@import '../../../assets/variables.scss';

.range {
    font-size: medium;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p {
        margin-bottom: 5px;
    }
    .inputs {
        display: flex;
        .data-input {
            input {
                margin: 7px;
                color: #444;
                padding: .6em 1.4em .5em .8em;
                box-sizing: border-box;
                border: 1px solid #aaa;
                box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                border-radius: .5em;
            }
            label {
                margin-left: 5px;
                margin-bottom: 0;
            }
            select {
                margin-right: 5px;
            }
        }
    }
}