@import '../../assets/variables.scss';

.details {
    width: 30vw;
    min-height: 50vh;
    @include white-block;
    word-break: break-all;
    word-wrap: break-word;
    color: #3a3f44;
    text-align: center; 
    font-size: medium;
    p {
        font-weight: bold;
    }
    .date {
        font-style: italic;
    }
    h1 {
        @include logo-text;
        border-bottom: $light-border;
        font-size: $middle-font;
        padding: 10px;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .species {
        p, ul, li {
            display: inline;
            padding: 1px;
        }
        p {
            font-size: bold;
        }
    }
    .films {
        p {
            margin-bottom: 1px;
        }
        ul {
            margin-top: 1px;
        }
        li {
            padding: 2px;
        }
    }
}

@media screen and (max-width: 900px) {
    .details {
        width: 80vw;
    }
}

@media screen and (max-height: 500px) {
    .details {
        height: 80vw;
    }
}