@import '../../assets/variables.scss';

.details {
    width: 30vw;
    min-height: 50vh;
    @include white-block;
    word-break: break-all;
    word-wrap: break-word;
    color: $grey-font-color;
    text-align: center; 
    font-size: medium;
    p {
        font-weight: bold;
    }
    h1 {
        @include logo-text;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        border-bottom: $white-border;
        font-size: $big-font;
        padding: 10px;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.date {
    font-style: italic;
}

.date, .species, .films {
    margin: 10px;
}

.species {
    p, ul, li {
        display: inline;
    }
    p {
        font-size: bold;
        padding: 5px;
    }
}

.films {
    p {
        margin-bottom: 1px;
    }
    ul {
        margin-top: 1px;
    }
    li {
        padding: 3px;
    }
}

@media (max-width: 1000px) {
    .details {
        width: 80vw;
    }
}