@import '../../assets/variables.scss';

.details {
    @include white-block;
    width: 30vw;
    min-height: 50vh;
    word-break: break-all;
    word-wrap: break-word;
    color: $grey-font-color;
    text-align: center; 
    font-size: medium;
    p {
        font-weight: bold;
    }
    h1 {
        @include logo-text;
        border-bottom: $white-border;
        font-size: $big-font;
        padding: $large-space;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

@media (max-width: $small-screen-size) {
    .details {
        width: 80vw;
    }
}

.date {
    font-style: italic;
}

.date, .species, .films {
    margin: 10px;
}

.species {
    p, ul, li {
        display: inline;
    }
    p {
        font-size: bold;
        padding: $middle-space;
    }
}

.films {
    p {
        margin-bottom: $small-space;
    }
    ul {
        margin-top: $small-space;
    }
    li {
        padding: $small-space;
    }
}