@import '../../../assets/variables.scss';

.listItem {
    @include dark-block;
    width: 30vw;
    font-size: $middle-font;
    margin: $middle-space;
    padding: $large-space;
}

@media (max-width: $small-screen-size) {
    .listItem {
        width: 80vw;
    }
}