@import '../../assets/variables.scss';

.character-list {
    display: flex;
    justify-content: center;
    align-items: center;
    ol {
        padding: 0;
        height: 50vh;
        overflow: auto;
        list-style: none;
        @include dark-block;
        li {
            width: 30vw;
            font-size: medium;
            border-bottom: $dark-border;
            padding: 10px;
        }
    }
}
