@import './variables.scss';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $main-font-color;
}

body, header, section, h1, footer, p {
    margin: 0;
}

body {
    height: 100vh;
    background-color: $theme-color;
    color: $main-font-color;
}

header {
    @include logo-text;
    height: 20vh;
    padding-top: 10vh;
    font-size: $large-font;
    background-color: $dark-theme-color;
}

@media (max-width: $small-screen-size) {
    header {
        height: 10vh;
        padding-top: 3vh;
    }
}

section {
    @include centered-container;
    height: 75vh;
}

@media (max-width: $small-screen-size) {
    section {
        height: 85vh;
        padding-top: 0;
    }
}

footer {
    @include logo-text;
    @include dark-block;
    height: 5vh;
    font-size: $small-font;
    padding: 1vh;
}

select, input {
    color: $grey-font-color;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    margin: 0;
    border: $white-border;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
}