$theme-color: #272b30;
$dark-theme-color: #1c1e22;
$white-theme-color: #f5f5f5;

$yellow: #ffe300;
$main-font-color: #c8c8c8;
$grey-font-color: #3a3f44;
$error-color: red;

$dark-border: 1px solid rgba(0,0,0,.6);
$white-border: 1px solid #ccc;

$large-font: 2.5em;
$big-font: 1.5em;
$middle-font: 1em;
$small-font: 0.5em;

$small-screen-size: 1000px;

$small-space: 2px;
$middle-space: 5px;
$large-space: 10px;

@mixin logo-text {
    color: $yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

@mixin dark-block {
    border: $dark-border;
    background-color: $dark-theme-color;
}

@mixin white-block {
    border: $white-border;
    border-radius: 4px;
    background-color: $white-theme-color;
}

@mixin centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin caption {
    text-align: center;
    font-size: $middle-font;
    margin-bottom: $small-space;
    margin-bottom: $middle-space;
}